.authorise {
  align-items: center;
  background-color: black; /* Hintergrundfarbe direkt auf Schwarz setzen */
  color: var(--color-text-primary);
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
  padding: var(--spacing-l);
}

.authorise__heading {}

.authorise__copy {
  max-width: 480px;
  text-align: center;
  margin: 0 0 var(--spacing-m) 0;
}

.authorise__button {
  margin-bottom: var(--spacing-l);
}

.authorise__credit {
  opacity: 0.8;
  font-size: 0.7em;
}

.authorise__credit a {
  color: inherit;
}
