html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh; /* Breite und Höhe vertauschen */
  height: 100vw;
}

* {
  box-sizing: border-box; /* Apply box-sizing to all elements */
}

.now-playing {
  color: #eaeaea;
  position: relative;
  width: 90vmin; /* Verwende vmin, um eine quadratische Form zu gewährleisten */
  height: 90vmin;
  max-height: 100vh;
  max-width: 100vw;
  transform: rotate(90deg); /* Dreht das Layout um 90 Grad */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto; /* Zentrieren im Viewport */

  &__image {
    box-shadow: 0px 0px 5vmin 3vmin rgba(0, 0, 0, 0.5);
    width: 100%; /* Füllt die Breite des übergeordneten Elements aus */
    height: 100%; /* Füllt die Höhe des übergeordneten Elements aus */
    object-fit: cover; /* Passt das Bild vollständig an */
    aspect-ratio: 1 / 1; /* Beibehaltung des quadratischen Seitenverhältnisses */
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%; /* Details nehmen 80 % der Breite von now-playing ein */
    height: auto; /* Höhe sollte automatisch sein, basierend auf dem Inhalt */
    margin: auto; /* Zentrieren der Details */
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);    
  }

  &__track {
    font-size: 5vmin; /* Schriftgröße skalieren basierend auf der Viewportgröße */
    margin: 0px;
    padding: 0px;
    white-space: nowrap; /* Verhindert Zeilenumbruch */
    overflow: hidden; /* Versteckt überlaufenden Text */
    text-overflow: ellipsis; /* Fügt Ellipse für abgeschnittenen Text hinzu */
  }

  &__artists {
    font-size: 3vmin; /* Schriftgröße skalieren basierend auf der Viewport
