[Unit]
Description=Artframe: KMS slideshow
After=multi-user.target

[Service]
Type=simple
ExecStart=/opt/artframe/run-display.sh
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
